:root{
    --yellow-primary: #F0CE26;
    --yellow-secondary: #E69520;
    --yellow-dark: #E66F20;
    --red: #EC1F29;
    --blue: #3250A2;
}

*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar-glass{
    background: rgba( 255, 255, 255, 0.25 )!important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
    backdrop-filter: blur( 4px )!important;
    -webkit-backdrop-filter: blur( 4px )!important;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.link{
    font-weight: 900;
    font-size: 2rem;
    margin: 0px 16px;
    color: black!important;
}

.link-active{
    background-color: var(--yellow-primary);
    border-radius: 10px;
}


.nav-item .nav-link{
    color: #666;
    padding: 10px 40px !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.nav-item::after{
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 0px;
    border-bottom: 5px solid var(--yellow-primary); 
    transition: all ease-in-out .2s; }

.nav-item:hover::after {
    width: 80%;
    left: 15px;
    margin-top: -5px;
}

.shadow-to-text{
    color: var(--yellow-primary);
    text-shadow: 
    0 1px 0 var(--yellow-secondary), 
    0 2px 0 var(--yellow-secondary), 
    0 3px 0 var(--yellow-secondary), 
    0 4px 0 var(--yellow-secondary), 
    0 5px 0 var(--yellow-secondary), 
    0 6px 0 var(--yellow-dark), 
    0 7px 0 var(--yellow-dark), 
    0 8px 0 var(--yellow-dark), 
    0 0 5px rgba(245, 203, 125, 0.137), 
    0 -1px 3px rgba(230, 194, 139, 0.3), 
    0 9px 9px rgba(230, 194, 139, 0.3), 
    0 12px 12px rgba(230, 194, 139, 0.3), 
    0 15px 15px rgba(230, 194, 139, 0.3);
}

.shadow-to-text-2{
    text-shadow: 
    0 1px 0 var(--yellow-secondary), 
    0 2px 0 var(--yellow-secondary), 
    0 3px 0 var(--yellow-secondary), 
    0 4px 0 var(--yellow-secondary), 
    0 5px 0 var(--yellow-secondary),
    0 0 5px rgba(245, 203, 125, 0.137), 
    0 -1px 3px rgba(230, 194, 139, 0.3), 
    0 9px 9px rgba(230, 194, 139, 0.3), 
    0 12px 12px rgba(230, 194, 139, 0.3), 
    0 15px 15px rgba(230, 194, 139, 0.3);
}

.pushable {
    background: var(--yellow-secondary);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
  display: block;
  margin: 0;
  border-radius: 12px;
  background: var(--yellow-primary);
  color: white;
  transform: translateY(-6px);
  font-weight: 900;
}

.pushable:active .front {
    transform: translateY(-2px);
}

@media only screen and (max-width: 600px) {
   .logo-circle{
        height: 60px;
        width: 60px;
    }

    .logo-long{
        display: none;
    }

    .home-container{
        background-image: url('../images/background-header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-header-container{
        padding: 3rem;
        height: 80vh;
        display: flex;
        justify-content: center;
    }

    .text-container{
        width: 90%;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .header-text{
        color: white;
        background-color: black;
        font-size: 3rem;
        padding: 1rem;
        font-weight: 800;
        text-align: center;
    }

    .home-button-container{
        width: 100%;
        padding: 4rem;
        display: flex;
        justify-content: end;
    }

    .mint-button-img{
        height: 75px;
    }

    .about-container{
        width: 100%;
        padding: 5rem 0rem;
    }

    .about-wrapper{
        width: 100%;
        margin: 3rem 0rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .about-content{
        width: 80%;
    }

    .about-header-container{
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    .shrink-baby-trump{
        height: 90px;
        width: 45px;
    }

    .about-header-container{
        padding: .8rem 0rem;
        display: flex;
        align-items: center;
    }

    .about-header-text{
        height: 40px!important;
    }

    .about-text{
        width: 100%;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .about-card-outer{
        background-color: black;
        padding: .9rem;
    }

    .about-card-inner{
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        display: flex;
        flex-direction: column;
    }

    .about-header-container{
        padding: .8rem 0rem;
    }

    .about-header-text{
        height: 70px;
    }

    .card-heading{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    
    .card-subheading{
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
        margin-top: 28px;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .top-row{
        width: 100%;
        padding: 15px;
    }

    .bottom-row{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: end;
    }

    .boxes{
        height: 20px;
        width: 20px;
    }

    .about-image{
        display: none;
    }

    .about-image-nft{
        height: 350px;
    }

    .storyline-container{
        width: 100%;
        padding: 1rem;
    }

    .storyline-wrapper{
        margin: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .storyline-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: .5rem;
    }

    .story-behind-img-1{
        display: none;
    }

    .story-behind-img-2{
        display: block;
        height: 60px;
    }

    .storyline-content{
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        padding: 2rem 1rem;
    }

    .socials-container{
        width: 100%;
        padding: .9rem;
    }

    .socials-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0rem;
    }

    .nfts-container{
        width: 70%;
        /* padding: 4rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nft-image{
        height: 250px;
        width: 250px;
        padding: 0rem .7rem;
    }

    .socials-header-container{
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .join-community-1{
        display: none;
    }

    .join-community-2{
        display: block;
        height: 140px;
    }


    .social-icons-container{
        padding: .6rem;
    }

    .social-icon{
        font-size: 2rem;
        padding: 0rem 1rem;
        color: var(--yellow-dark);
        text-shadow: 
        0 1px 0 var(--yellow-primary), 
        0 2px 0 var(--yellow-primary), 
        0 3px 0 var(--yellow-primary), 
        0 4px 0 var(--yellow-primary), 
        0 5px 0 var(--yellow-primary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .banner-container  {
        width: 100%;
    }

    .banner-image{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .roadmap-container{
        width: 100%;
        padding: 5rem 2rem;
    }

    .roadmap-wrapper{
        width: 100%;
        /* padding: .5rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roadmap-content-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .roadmap-header-wrapper{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem;
    }

    .roadmap-image{
        height: 40px;
    }

    .roadmap-subheading{
        color: var(--yellow-primary);
        font-size: 1.6rem;
        font-weight: 800;
        padding: 1.3rem 0rem;
        text-align: center;
    }

    .roadmap-list-container{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .roadmap-list-items{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        width: 100%;
    }

    .roadmap-list-item{
        display: flex;
        margin: 12px 0px;
    }

    .list-item-number{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0px 10px;
    }

    .item-number-outer{
        width: 35px;
        height: 35px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-inner{
        width: 25px;
        height: 25px;
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 14px;
        font-weight: 900;
    }

    .list-item-content{
        width: 90%;
        font-size: 1.1rem;
        font-weight: 700;
    }

    .tower-container{
        width: 100%;
        height: 70vh;
        overflow: hidden;
    }

    .tower-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tower-image-container{
        overflow: hidden;
        display: flex;
        justify-content: center;

    }

    .trump-tower-image{
        width: 2000px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tower-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .trump-tower-text{
        height: 38px;
    }

    .team-container{
        width: 100%;
        padding: 2rem;
    }

    .team-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align:center;
        padding: 2rem 0rem;
    }

    .all-women-text-1{
        display: none;
    }

    .all-women-text-2{
        height: 85px;
        padding: .3rem;
        border-bottom: 5px solid var(--yellow-dark);
    }

    .team-items-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .8rem;
    }

    .team-image{
        height: 200px;
        width: 200px;
    }

    .item-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
    }

    .team-role{
        font-size: 1.3rem;
        color: var(--yellow-primary);
        font-weight: 900;
    }

    .team-name{
        font-size: 2rem;
        font-weight: 900;
        color: var(--yellow-dark);
    }

    .faq-container {
        background-image: url('../images/trump-2024.png');
        height: 100vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
    }

    .faq-wrapper{
        padding: 5rem 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .faq-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem 0rem;
    }

    .faq-text-image{
        height: 40px;
    }

    .faq-accordion-container{
        width: 80%;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
    }

    .faq-card{
        background-color: transparent;
        margin: 10px 0px;
        width: 100%;
    }
    .faq-card{
        border: none;
    }

    .card-header{
        padding: .4rem;
        border: 7px solid black;
        border-radius: 60px;
    }

    .accordion>.card>.card-header {
        border-radius: 18px;
        margin-bottom: -1px;
    }

    .faq-heading{
        color: black;
        font-weight: 800;
        font-size: 1rem;
    }

    .faq-text{
        font-weight: 800;
        color: black;
        font-size: .8rem;
    } 

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1.2rem;
    }

    .footer-logo{
        width: 90px;
        height: 90px;
    }
}

@media only screen and (min-width: 600px){
    .logo-circle{
        display: none;
    }

    .logo-long{
        height: 65px;
    }

    .home-container{
        background-image: url('../images/background-header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-header-container{
        padding: 3rem;
        height: 80vh;
        display: flex;
        justify-content: center;
    }

    .text-container{
        width: 80%;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .header-text{
        color: white;
        background-color: black;
        font-size: 3.3rem;
        font-weight: 800;
        text-align: center;
    }

    .home-button-container{
        width: 100%;
        padding: 4rem;
        display: flex;
        justify-content: center;
    }

    .mint-button-img{
        height: 75px;
    }

    .about-container{
        width: 100%;
        padding: 5rem;
        
    }

    .about-wrapper{
        width: 100%;
        margin: 3rem 0rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .about-content{
        width: 100%;
    }

    .shrink-baby-trump{
        display: none;
    }

    .about-header-container{
        padding: .8rem 0rem;
    }

    .about-header-text{
        height: 30px;
    }

    .about-text{
        width: 100%;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .about-card-outer{
        background-color: black;
        padding: .9rem;
    }

    .about-card-inner{
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        display: flex;
        flex-direction: column;
    }

    .about-header-container{
        padding: .8rem 0rem;
    }

    .about-header-text{
        height: 50px;
    }

    .card-heading{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .card-subheading{
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
        margin-top: 28px;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .top-row{
        width: 100%;
        padding: 15px;
    }

    .bottom-row{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: end;
    }

    .boxes{
        height: 20px;
        width: 20px;
    }

    .about-image{
        width: 20%;
        display:  flex;
        justify-content: center;
        align-items: flex-end;
    }

    .about-image-nft{
        height: 350px;
    }

    .storyline-container{
        width: 100%;
        padding: 2rem;
    }

    .storyline-wrapper{
        margin: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .storyline-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: .5rem;
    }

    .story-behind-img-1{
        display: none;
    }

    .story-behind-img-2{
        display: block;
        height: 70px;
    }

    .storyline-content{
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        padding: 2rem 1rem;
    }

    .socials-container{
        width: 100%;
        padding: .9rem;
    }

    .socials-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0rem;
    }

    .nfts-container{
        width: 70%;
        /* padding: 4rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nft-image{
        height: 250px;
        width: 250px;
        padding: 0rem .7rem;
    }

   .socials-header-container{
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .join-community-1{
        display: none;
    }

    .join-community-2{
        display: block;
        height: 180px;
    }

    .social-icons-container{
        padding: 2rem;
    }

    .social-icon{
        font-size: 2.8rem;
        padding: 0rem 1rem;
        color: var(--yellow-dark);
        text-shadow: 
        0 1px 0 var(--yellow-primary), 
        0 2px 0 var(--yellow-primary), 
        0 3px 0 var(--yellow-primary), 
        0 4px 0 var(--yellow-primary), 
        0 5px 0 var(--yellow-primary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .banner-container  {
        width: 100%;
    }

    .banner-image{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .roadmap-container{
        width: 100%;
        padding: 5rem;
    }

    .roadmap-wrapper{
        width: 100%;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roadmap-content-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .roadmap-header-wrapper{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem;
    }

    .roadmap-image{
        height: 45px;
    }

    .roadmap-subheading{
        color: var(--yellow-primary);
        font-size: 1.6rem;
        font-weight: 800;
        padding: 1.3rem 0rem;
    }

    .roadmap-list-container{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .roadmap-list-items{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        width: 100%;
    }

    .roadmap-list-item{
        display: flex;
        margin: 0;
    }

    .list-item-number{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-outer{
        width: 35px;
        height: 35px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-inner{
        width: 25px;
        height: 25px;
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 14px;
        font-weight: 900;
    }

    .list-item-content{
        width: 90%;
        font-size: 1.1rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }

    .tower-container{
        width: 100%;
        height: 70vh;
    }

    .tower-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tower-image-container{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .trump-tower-image{
        width: 2200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tower-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .trump-tower-text{
        height: 40px;
    }

    .team-container{
        width: 100%;
        padding: 3rem;
    }

    .team-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align:center;
        padding: 2rem 0rem;
    }

    .all-women-text-1{
        display: none;
    }

    .all-women-text-2{
        height: 100px;
        padding: .3rem;
        border-bottom: 5px solid var(--yellow-dark);
    }

    .team-items-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .8rem;
    }

    .team-image{
        height: 180px;
        width: 180px;
    }

    .item-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
    }

    .team-role{
        font-size: 1.3rem;
        color: var(--yellow-primary);
        font-weight: 900;
    }

    .team-name{
        font-size: 2rem;
        font-weight: 900;
        color: var(--yellow-dark);
    }

    .faq-container {
        background-image: url('../images/trump-2024.png');
        height: 100vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .faq-wrapper{
        padding: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .faq-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem 0rem;
    }

    .faq-text-image{
        height: 40px;
    }

    .faq-accordion-container{
        width: 80%;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
    }

    .faq-card{
        background-color: transparent;
        margin: 10px 0px;
        width: 100%;
    }

    .faq-card{
        border: none;
    }

    .card-header{
        padding: .6rem;
        border: 7px solid black;
        border-radius: 60px;
    }

    .accordion>.card>.card-header {
        border-radius: 20px;
        margin-bottom: -1px;
    }

    .faq-heading{
        color: black;
        font-weight: 800;
        font-size: 1rem;
    }

    .faq-text{
        font-weight: 800;
        color: black;
        font-size: 1rem;
    } 

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1.2rem;
    }

    .footer-logo{
        width: 100px;
        height: 100px;
    }
} 

@media only screen and (min-width: 768px){
    .logo-circle{
        display: none;
    }

    .logo-long{
        height: 65px;
    }

    .home-container{
        background-image: url('../images/background-header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-header-container{
        padding: 8rem 3rem;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .text-container{
        width: 80%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
    
    .header-text{
        color: white;
        padding: .8rem;
        background-color: black;
        font-size: 3rem;
        font-weight: 800;
    }

    .home-button-container{
        width: 100%;
        padding: 4rem;
        display: flex;
        justify-content: center;
    }

    .mint-button-img{
        height: 75px;
    }

    .about-container{
        width: 100%;
        padding: 4rem;
        
    }

    .about-wrapper{
        width: 100%;
        margin: 3rem 0rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .about-content{
        width: 80%;
    }

    .shrink-baby-trump{
        display: none;
    }

    .about-header-container{
        padding: .8rem 0rem;
    }

    .about-header-text{
        height: 50px;
    }

    .about-text{
        width: 100%;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .about-card-outer{
        background-color: black;
        padding: .9rem;
    }

    .about-card-inner{
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        display: flex;
        flex-direction: column;
    }

    .card-heading{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .card-subheading{
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
        margin-top: 28px;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .top-row{
        width: 100%;
        padding: 15px;
    }

    .bottom-row{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: end;
    }

    .boxes{
        height: 20px;
        width: 20px;
    }

    .about-image{
        width: 20%;
        display:  flex;
        justify-content: center;
        align-items: flex-end;
    }

    .about-image-nft{
        height: 400px;
    }

    .storyline-container{
        width: 100%;
        padding: 1rem;
    }

    .storyline-wrapper{
        margin: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .storyline-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: .5rem;
    }

    .story-behind-img-1{
        display: none;
    }
    .story-behind-img-2{
        display: block;
        height: 90px;
    }

    .storyline-content{
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        padding: 2rem 2rem;
    }

    .socials-container{
        width: 100%;
        padding: .9rem;
    }

    .socials-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0rem;
    }

    .nft-container{
        width: 100%;
        padding: 4rem;
        display: flex;
        justify-content:space-around;
    }

    .nft-image{
        height: 250px;
        width: 250px;
        padding: 0rem .7rem;
    }

    .socials-header-container{
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .join-community-1{
        display: block;
        height: 90px;
    }

    .join-community-2{
        display: none;
    }

    .social-icons-container{
        padding: .6rem;
    }

    .social-icon{
        font-size: 2.8rem;
        padding: 0rem 1rem;
        color: var(--yellow-dark);
        text-shadow: 
        0 1px 0 var(--yellow-primary), 
        0 2px 0 var(--yellow-primary), 
        0 3px 0 var(--yellow-primary), 
        0 4px 0 var(--yellow-primary), 
        0 5px 0 var(--yellow-primary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .banner-container  {
        width: 100%;
    }

    .banner-image{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .roadmap-container{
        width: 100%;
        padding: 6.5rem 3rem;
    }

    .roadmap-wrapper{
        width: 100%;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roadmap-content-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .roadmap-header-wrapper{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem;
    }

    .roadmap-image{
        height: 50px;
    }

    .roadmap-subheading{
        width: 80%;
        color: var(--yellow-primary);
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        padding: 1rem 0rem;
    }

    .roadmap-list-container{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .roadmap-list-items{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        width: 100%;
    }

    .roadmap-list-item{
        display: flex;
        margin: 0;
    }

    .list-item-number{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-outer{
        width: 35px;
        height: 35px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-inner{
        width: 25px;
        height: 25px;
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 14px;
        font-weight: 900;
    }

    .list-item-content{
        width: 90%;
        font-size: 1.1rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }

    .tower-container{
        width: 100%;
        height: 80vh;
        padding: 2rem 0rem;
    }

    .tower-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tower-image-container{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .trump-tower-image{
        width: 2200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tower-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .trump-tower-text{
        height: 60px;
    }

    .team-container{
        width: 100%;
        padding: 5rem;
    }

    .team-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align:center;
        padding: 2rem 0rem;
    }

    .all-women-text-1{
        display: block;
        height: 50px;
        padding: .3rem;
        border-bottom: 5px solid var(--yellow-dark);
       
    }

    .all-women-text-2{
        display: none;
    }

    .team-items-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .team-image{
        height: 200px;
        width: 200px;
    }

    .item-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
    }

    .team-role{
        font-size: 1.3rem;
        color: var(--yellow-primary);
        font-weight: 900;
    }

    .team-name{
        font-size: 2rem;
        font-weight: 900;
        color: var(--yellow-dark);
    }

    .faq-container {
        background-image: url('../images/trump-2024.png');
        height: 100vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        /* padding: 3rem; */
    }

    .faq-wrapper{
        padding: 5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .faq-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem 0rem;
    }

    .faq-text-image{
        height: 50px;
    }

    .faq-accordion-container{
        width: 80%;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
    }

    .faq-card{
        background-color: transparent;
        margin: 10px 0px;
        width: 100%;
    }
    .faq-card{
        border: none;
    }

    .card-header{
        padding: .6rem;
        border: 7px solid black;
        border-radius: 60px;
    }

    .accordion>.card>.card-header {
        border-radius: 20px;
        margin-bottom: -1px;
    }

    .faq-heading{
        color: black;
        font-weight: 800;
        font-size: 1.2rem;
    }

    .faq-text{
        font-weight: 800;
        color: black;
        font-size: 1rem;
    } 

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }

    .footer-logo{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 992px){
    .logo-circle{
        display: none;
    }

    .logo-long{
        height: 50px;
    }

    .home-container{
        background-image: url('../images/background-header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-header-container{
        padding: 3rem;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .text-container{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }
    
    .header-text{
        color: white;
        padding: .8rem;
        background-color: black;
        font-size: 3rem;
        font-weight: 800;
    }

    .home-button-container{
        width: 100%;
        padding: 4rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .mint-button-img{
        height: 70px;
    }

    .about-container{
        width: 100%;
        padding: 3rem;
    }

    .about-wrapper{
        width: 100%;
        /* margin: 2rem 0rem; */
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .about-content{
        width: 60%;
    }

    .shrink-baby-trump{
        display: none;
    }

    .about-header-container{
        padding: .8rem 0rem;
    }

    .about-header-text{
        height: 50px;
    }

    .about-text{
        width: 100%;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .about-card-outer{
        background-color: black;
        padding: .9rem;
    }

    .about-card-inner{
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        display: flex;
        flex-direction: column;
    }

    .card-heading{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    
    .card-subheading{
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
        margin-top: 28px;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .top-row{
        width: 100%;
        padding: 15px;
    }

    .bottom-row{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: end;
    }

    .boxes{
        height: 20px;
        width: 20px;
    }

    .about-image{
        width: 20%;
        display:  flex;
        justify-content: center;
        align-items: flex-end;
    }

    .about-image-nft{
        height: 400px;
    }

    .storyline-container{
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: center;
    }

    .storyline-wrapper{
        width: 95%;
        margin: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .storyline-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: .5rem;
    }

    .story-behind-img-1{
        display: block;
        height: 45px;
    }
    .story-behind-img-2{
        display: none;
    }

    .storyline-content{
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        padding: 2rem 2rem;
    }

    .socials-container{
        width: 100%;
        padding: 2rem;
    }

    .socials-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0rem;
    }

    .nfts-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .nft-image{
        height: 250px;
        width: 250px;
        padding: 0rem .7rem;
    }

    .socials-header-container{
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .join-community-1{
        display: block;
        height: 80px;
    }

    .join-community-2{
        display: none;
    }

    .social-icons-container{
        padding: .6rem;
    }

    .social-icon{
        font-size: 2.6rem;
        padding: 0rem 1rem;
        color: var(--yellow-dark);
        text-shadow: 
        0 1px 0 var(--yellow-primary), 
        0 2px 0 var(--yellow-primary), 
        0 3px 0 var(--yellow-primary), 
        0 4px 0 var(--yellow-primary), 
        0 5px 0 var(--yellow-primary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .banner-container  {
        width: 100%;
    }

    .banner-image{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .roadmap-container{
        width: 100%;
        padding: 6rem;
    }

    .roadmap-wrapper{
        width: 100%;
        /* padding: .5rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roadmap-content-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .roadmap-header-wrapper{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem;
    }

    .roadmap-image{
        height: 50px;
    }

    .roadmap-subheading{
        color: var(--yellow-primary);
        font-size: 1.9rem;
        font-weight: 800;
        padding: 1rem;
    }

    .roadmap-list-container{
        width: 90%;
        display: flex;
        justify-content: flex-start;
    }

    .roadmap-list-items{
        list-style: none;
    }

    .roadmap-list-item{
        display: flex;
        margin: 0;
    }

    .list-item-number{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-outer{
        width: 35px;
        height: 35px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-inner{
        width: 25px;
        height: 25px;
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 14px;
        font-weight: 900;
    }

    .list-item-content{
        width: 90%;
        font-size: 1.1rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }

    .tower-container{
        width: 100%;
        height: 100vh;
        
    }

    .tower-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tower-image-container{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .trump-tower-image{
        width: 2000px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tower-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .trump-tower-text{
        height: 75px;
    }

    .team-container{
        width: 100%;
        padding: 3rem;
    }

    .team-wrapper{
        margin: 2rem 0rem;
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align:center;
        padding: 2rem 0rem;
    }

    .all-women-text-1{
        display: block;
        height: 70px;
        padding: .3rem;
        border-bottom: 5px solid var(--yellow-dark);
    }

    .all-women-text-2{
        display: none;
    }

    .team-items-container{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .team-image{
        height: 200px;
        width: 200px;
    }

    .item-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
    }

    .team-role{
        font-size: 1.3rem;
        color: var(--yellow-primary);
        font-weight: 900;
    }

    .team-name{
        font-size: 2rem;
        font-weight: 900;
        color: var(--yellow-dark);
    }

    .faq-container {
        background-image: url('../images/trump-2024.png');
        height: 100vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .faq-wrapper{
        padding: 5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .faq-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem 0rem;
    }

    .faq-text-image{
        height: 50px;
    }

    .faq-accordion-container{
        width: 70%;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
    }

    .faq-card{
        background-color: transparent;
        margin: 10px 0px;
        width: 100%;
    }
    .faq-card{
        border: none;
    }

    .card-header{
        padding: .6rem;
        border: 7px solid black;
        border-radius: 60px;
    }

    .accordion>.card>.card-header {
        border-radius: 20px;
        margin-bottom: -1px;
    }

    .faq-heading{
        color: black;
        font-weight: 800;
        font-size: 1.2rem;
    }

    .faq-text{
        font-weight: 800;
        color: black;
        font-size: 1rem;
    } 

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }

    .footer-logo{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 1800px) {
    .logo-circle{
        display: none;
    }

    .logo-long{
        height: 70px;
    }

    .home-container{
        background-image: url('../images/background-header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-header-container{
        padding: 3rem;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .text-container{
        margin-top: 8rem;
        display: flex;
        justify-content: center;
    }
    
    .header-text{
        color: white;
        padding: .8rem;
        background-color: black;
        font-size: 5rem;
        font-weight: 800;
    }

    .home-button-container{
        width: 100%;
        padding: 3rem;
        display: flex;
        justify-content: center;
    }

    .mint-button-img{
        height: 100px;
    }

    .about-container{
        width: 100%;
        padding: 5rem; 
    }

    .about-wrapper{
        width: 100%;
        margin: 3rem 0rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .about-content{
        width: 50%;
    }

    .shrink-baby-trump{
        display: none;
    }

    .about-header-container{
        padding: .8rem 0rem;
    }

    .about-header-text{
        height: 80px;
    }

    .about-text{
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .about-card-outer{
        background-color: black;
        padding: .9rem;
    }

    .about-card-inner{
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        display: flex;
        flex-direction: column;
    }

    .card-heading{
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    
    .card-subheading{
        color: white;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        margin-top: 28px;
        text-shadow: 
        0 1px 0 var(--yellow-secondary), 
        0 2px 0 var(--yellow-secondary), 
        0 3px 0 var(--yellow-secondary), 
        0 4px 0 var(--yellow-secondary), 
        0 5px 0 var(--yellow-secondary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }

    .top-row{
        width: 100%;
        padding: 15px;
    }

    .bottom-row{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: end;
    }

    .boxes{
        height: 50px;
        width: 50px;
    }

    .about-image{
        width: 20%;
        display:  flex;
        justify-content: center;
        align-items: flex-end;
    }

    .about-image-nft{
        height: 750px;
    }

    .storyline-container{
        width: 100%;
        padding: 3rem;
    }

    .storyline-wrapper{
        margin: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .storyline-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem;
    }

    .story-behind-img-1{
        display: block;
        height: 60px;
    }
    .story-behind-img-2{
        display: none;
    }

    .storyline-content{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 2rem 2rem;
    }

    .socials-container{
        width: 100%;
        padding: 3rem;
    }

    .socials-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 3rem 0rem;
    }

    .nfts-container{
        width: 100%;
        padding: 1.8rem;
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .nft-image{
        height: 350px;
        width: 350px;
        padding: 0rem .7rem;
    }

    .socials-header-container{
        width: 100%;
        padding: 2rem;
        text-align: center;
    }

    .join-community-1{
        display: block;
        height: 120px;
    }

    .join-community-2{
        display: none;
    }

    .social-icons-container{
        padding: 2rem;
    }

    .social-icon{
        font-size: 5rem;
        padding: 0rem 1rem;
        color: var(--yellow-dark);
        text-shadow: 
        0 1px 0 var(--yellow-primary), 
        0 2px 0 var(--yellow-primary), 
        0 3px 0 var(--yellow-primary), 
        0 4px 0 var(--yellow-primary), 
        0 5px 0 var(--yellow-primary),
        0 0 5px rgba(245, 203, 125, 0.137), 
        0 -1px 3px rgba(230, 194, 139, 0.3), 
        0 9px 9px rgba(230, 194, 139, 0.3), 
        0 12px 12px rgba(230, 194, 139, 0.3), 
        0 15px 15px rgba(230, 194, 139, 0.3);
    }
    
    .banner-container  {
        width: 100%;
    }

    .banner-image{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .roadmap-container{
        width: 100%;
        padding: 5rem;
    }

    .roadmap-wrapper{
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roadmap-content-wrapper{
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .roadmap-header-wrapper{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem;
    }

    .roadmap-image{
        height: 80px;
    }

    .roadmap-subheading{
        font-size: 2.8rem;
        font-weight: 900;
    }

    .roadmap-list-container{
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }

    .roadmap-list-items{
        list-style: none;
    }

    .roadmap-list-item{
        display: flex;
        margin: 5px 0px;
    }

    .list-item-number{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-outer{
        width: 40px;
        height: 40px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-number-inner{
        width: 30px;
        height: 30px;
        background-color: var(--yellow-primary);
        border: 5px solid var(--yellow-dark);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 18px;
        font-weight: 900;
    }

    .list-item-content{
        width: 90%;
        font-size: 1.4rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }

    .tower-container{
        width: 100%;
        height: 80vh;  
    }

    .tower-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tower-image-container{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .trump-tower-image{
        width: 2200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tower-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .trump-tower-text{
        height: 100px;
    }

    .team-container{
        width: 100%;
        padding: 3rem;
    }

    .team-wrapper{
        margin: 3rem 0rem;
        padding: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team-heading-container{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align:center;
    }

    .all-women-text-1{
        display: block;
        height: 85px;
        padding: .3rem;
        border-bottom: 5px solid var(--yellow-dark);
    }

    .all-women-text-2{
        display: none;
    }

    .team-items-container{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .team-image{
        height: 300px;
        width: 300px;
    }

    .item-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0rem;
    }

    .team-role{
        font-size: 1.7rem;
        color: var(--yellow-primary);
        font-weight: 900;
    }

    .team-name{
        font-size: 3rem;
        font-weight: 900;
        color: var(--yellow-dark);
    }

    .faq-container {
        background-image: url('../images/trump-2024.png');
        height: 90vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 5rem;
    }

    .faq-wrapper{
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .faq-header-container{
        border-bottom: 5px solid var(--yellow-dark);
        padding: 1rem 0rem;
    }

    .faq-text-image{
        height: 80px;
    }

    .faq-accordion-container{
        width: 70%;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        padding: 2rem 0rem;
    }

    .faq-card{
        background-color: transparent;
        margin: 10px 0px;
        width: 100%;
    }
    .faq-card{
        border: none;
    }

    .card-header{
        padding: .6rem;
        border: 7px solid black;
        border-radius: 60px;
    }

    .accordion>.card>.card-header {
        border-radius: 20px;
        margin-bottom: -1px;
    }

    .faq-heading{
        color: black;
        font-weight: 800;
        font-size: 1.5rem;
    }

    .faq-text{
        font-weight: 800;
        color: black;
        font-size: 1.3rem;
    } 

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .footer-logo{
        width: 150px;
        height: 150px;
    }

}

/* Scrollbar */
/* Works on Firefox */
* {
    scrollbar-width: 0px;
    scrollbar-color: #aaaaaa00 #cfd8dc00;
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #b1b1b12a;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--yellow-primary);
  border-radius: 50px;
}
  